<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.dao.ContractInfoDao">
    <resultMap id="BaseResultMap" type="com.web.pojo.ContractInfo">
        <id column="id" property="id"/>
        <result column="contract_code" property="contractCode"/>
        <result column="contract_name" property="contractName"/>
        <result column="modify_time" property="modifyTime"  />
        <result column="modify_user" property="modifyUser"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <association property="variety" javaType="com.web.pojo.Variety" column="tb_variety_id" 
        	select="com.web.dao.VarietyDao.selectByPrimaryKey"/>
        <association property="platform" javaType="com.web.pojo.Platform" column="tb_platform_id" 
        	select="com.web.dao.PlatformDao.getPlatformById"/>
    </resultMap>
    <select id="getInfoByVarietyIdAndPlatformId" resultMap="BaseResultMap" >
      SELECT
      id,
      tb_variety_id,
      tb_platform_id,
      contract_code,
      contract_name,
      modify_time,
      modify_user,
      create_time,
      create_user
      from tb_contract_info
      where tb_variety_id =#{varietyId} and tb_platform_id = #{platformId}
    </select>
    <select id="getContractInfoList" resultMap="BaseResultMap">
      SELECT
      id,
      tb_variety_id,
      tb_platform_id,
      contract_code,
      contract_name,
      modify_time,
      modify_user,
      create_time,
      create_user
      from tb_contract_info
    </select>

</mapper>