<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.dao.ContractInfoLinkDao">
    <resultMap id="BaseResultMap" type="com.web.pojo.ContractInfoLink">
        <id column="id" property="id"/>
        <result column="max_market_order_volumn" property="maxMarketOrderVolume"/>
        <result column="min_market_order_volumn" property="minMarketOrderVolume"/>
        <result column="volumn_multiple" property="volumeMultiple"  />
        <result column="price_tick" property="priceTick"/>
        <result column="open_ratio_money" property="openRatioByMoney"/>
        <result column="open_ratio_volumn" property="openRatioByVolume"/>
        <result column="close_ratio_money" property="closeRatioByMoney"/>
        <result column="close_ratio_volumn" property="closeRatioByVolume"/>
        <association property="contractInfo" javaType="com.web.pojo.ContractInfo" column="contract_info_id" 
        	select="com.web.dao.ContractInfoDao.getContractInfoById"/>
    </resultMap>
    <insert id="save" parameterType="com.web.pojo.ContractInfoLink" useGeneratedKeys="true" keyProperty="id">
        insert into tb_contract_info_link(max_market_order_volumn,min_market_order_volumn,volumn_multiple,price_tick,
        open_ratio_money,open_ratio_volumn,close_ratio_money,close_ratio_volumn,contract_info_id)
        values (#{maxMarketOrderVolume},#{minMarketOrderVolume},#{volumeMultiple},#{priceTick},#{openRatioByMoney},
        #{openRatioByVolume},#{closeRatioByMoney},#{closeRatioByVolume},#{contractInfo.id})
    </insert>
    <update id="updateContractInfoLink" parameterType="com.web.pojo.ContractInfoLink">
        update tb_contract_info_link
        <set>
            <if test="maxMarketOrderVolume != null">
                max_market_order_volumn = #{maxMarketOrderVolume} ,
            </if>
            <if test="minMarketOrderVolume != null">
                min_market_order_volumn = #{minMarketOrderVolume},
            </if>
            <if test="volumeMultiple != null">
                volumn_multiple = #{volumeMultiple},
            </if>
            <if test="priceTick != null">
                price_tick = #{priceTick},
            </if>
            <if test="openRatioByMoney != null">
                open_ratio_money = #{openRatioByMoney},
            </if>
            <if test="openRatioByVolume != null">
                open_ratio_volumn = #{openRatioByVolume},
            </if>
            <if test="closeRatioByMoney != null">
                close_ratio_money = #{closeRatioByMoney},
            </if>
            <if test="closeRatioByVolume != null ">
                close_ratio_volumn = #{closeRatioByVolume},
            </if>
            <if test="contractInfo != null ">
                contract_info_id = #{contractInfo.id},
            </if>
        </set>
        where id =#{id}
    </update>
    <select id="getContractInfoLink" resultMap="BaseResultMap">
        select <include refid="base_column"/>
        from tb_contract_info_link
        where id = #{contractInfoLinkId}
    </select>
    <select id="getContractInfoLinkByInfoId" resultMap="BaseResultMap">
        select <include refid="base_column"/>
        from tb_contract_info_link
        where contract_info_id = #{contractInfoId}
    </select>
    <sql id="base_column">
        id,
        max_market_order_volumn,
        min_market_order_volumn,
        volumn_multiple,
        price_tick,
        open_ratio_money,
        open_ratio_volumn,
        close_ratio_money,
        close_ratio_volumn,
        contract_info_id
    </sql>

</mapper>