<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.dao.DocumentaryDetailDao">
    <insert id="insert" parameterType="com.web.pojo.DocumentaryDetail" useGeneratedKeys="true"  keyProperty="id">
       insert into documentaryDetail (login, varietyCode, cmd, counts, openPrice, openTime, closePrice,
      closeTime, poundage, status, leftoverCounts, alreadyProfit)
    values (#{login}, #{varietyCode}, #{cmd}, #{counts}, #{openPrice}, #{openTime}, #{closePrice},
      #{closeTime}, #{poundage}, #{status}, #{leftoverCounts}, #{alreadyProfit})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.web.pojo.DocumentaryDetail">
   update documentaryDetail
     set login = #{login},
      varietyCode = #{varietyCode},
      cmd = #{cmd},
      counts = #{counts},
      openPrice = #{openPrice},
      openTime = #{openTime},
      closePrice = #{closePrice},
      closeTime = #{closeTime},
      poundage = #{poundage},
      status = #{status},
      leftoverCounts = #{leftoverCounts},
      alreadyProfit = #{alreadyProfit}
    where id = #{id}
    </update>
    <delete id="deleteByPrimaryKey" parameterType="Long">
        delete from documentaryDetail where id = #{id}
    </delete>
    <select id="selectAll" resultType="com.web.pojo.DocumentaryDetail">
        SELECT id, login, varietyCode, cmd, counts, openPrice, openTime, closePrice, closeTime,
    poundage, status, leftoverCounts, alreadyProfit
    FROM documentaryDetail
    </select>

    <select id="selectDataByASC" resultType="com.web.pojo.DocumentaryDetail">
        select id, login, varietyCode, cmd, counts, openPrice, openTime, closePrice, closeTime,
        poundage, status, leftoverCounts, alreadyProfit,newOpenOrderNum
        from  DocumentaryDetail
        where closeTime is null  order by openTime asc
    </select>
</mapper>