<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.dao.FollowOrderDetailDao" >
  <resultMap id="BaseResultMap" type="com.web.pojo.FollowOrderDetail" >
    <id column="id" property="id"  />
    <result column="client_name" property="clientName"  />
    <result column="variety_name" property="varietyName"  />
    <result column="trade_direction" property="tradeDirection"  />
    <result column="hand_number" property="handNumber"  />
    <result column="original_hand_number" property="OriginalHandNumber"/>
    <result column="remain_hand_number" property="remainHandNumber"/>
    <result column="follow_order_trade_record_id" property="followOrderTradeRecordId"/>
    <result column="open_price" property="openPrice"  />
    <result column="open_time" property="openTime"  />
    <result column="close_price" property="closePrice"  />
    <result column="close_time" property="closeTime"  />
    <result column="poundage" property="poundage"  />
    <result column="profit_loss" property="profitLoss"  />
    <result column="client_profit" property="clientProfit"  />
    <result column="ticket" property="ticket"  />
    <result column="update_date" property="updateDate"  />
    <result column="update_by_user" property="updateByUser"/>
    <result column="create_date" property="createDate"/>
    <result column="follow_order_id" property="followOrderId"  />
    <result column="version" property="version"  />
  </resultMap>
  <resultMap id="testMap" type="com.web.pojo.vo.FollowOrderVo">
    <result column="poundageTotal" property="poundageTotal"/>
    <result column="handNumberTotal" property="handNumberTotal"/>
    <result column="offsetGainAndLoss" property="offsetGainAndLoss"/>
    <result column="offsetHandNumber" property="offsetHandNumber"/>
  </resultMap>

  <resultMap id="orderPageMap" type="com.web.pojo.vo.FollowOrderPageVo">
    <result column="history_hand_number" property="historyHandNumber"/>
    <result column="history_profit_loss" property="historyProfit"/>
    <result column="close_position_total_number" property="closePositionTotalNumber"/>
    <result column="open_hand_number" property="holdPositionHandNumber"/>
    <result column="open_profit_loss" property="holdPositionProfit"/>

  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from follow_order_detail
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.web.pojo.FollowOrderDetail" useGeneratedKeys="true" keyProperty="id" >
    insert into follow_order_detail (client_name, variety_name, trade_direction, 
      hand_number,original_hand_number,remain_hand_number,follow_order_trade_record_id, open_price, open_time,
      close_price, close_time, poundage, 
      profit_loss, client_profit, ticket,
      update_date,update_by_user,create_date, follow_order_id, version
      )
    values (#{clientName}, #{varietyName}, #{tradeDirection}, 
      #{handNumber},#{OriginalHandNumber},#{remainHandNumber},#{followOrderTradeRecordId}, #{openPrice}, #{openTime},
      #{closePrice}, #{closeTime}, #{poundage}, 
      #{profitLoss}, #{clientProfit}, #{ticket},
      #{updateDate}, #{updateByUser} ,#{createDate},#{followOrderId},#{version}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.web.pojo.FollowOrderDetail" >
    update follow_order_detail
    <set>
      <if test="clientName != null">
        client_name = #{clientName},
      </if>
      <if test="varietyName != null">
        variety_name = #{varietyName},
      </if>
      <if test="tradeDirection != null">
        trade_direction = #{tradeDirection},
      </if>
      <if test="handNumber != null">
        hand_number = #{handNumber},
      </if>
      <if test="OriginalHandNumber != null">
        original_hand_number = #{OriginalHandNumber},
      </if>
      <if test="remainHandNumber != null">
        remain_hand_number = #{remainHandNumber},
      </if>
      <if test="followOrderTradeRecordId != null">
        follow_order_trade_record_id = #{followOrderTradeRecordId},
      </if>
      <if test="openPrice != null">
        open_price = #{openPrice},
      </if>
      <if test="openTime != null">
        open_time = #{openTime},
      </if>
      <if test="closePrice != null">
        close_price = #{closePrice},
      </if>
      <if test="closeTime != null">
        close_time = #{closeTime},
      </if>
      <if test="poundage != null">
        poundage = #{poundage},
      </if>
      <if test="profitLoss != null">
        profit_loss = #{profitLoss},
      </if>
      <if test="clientProfit != null">
        client_profit = #{clientProfit},
      </if>
      <if test="ticket != null">
        ticket = #{ticket},
      </if>

      <if test="followOrderId != null">
        follow_order_id = #{followOrderId},
      </if>
      <if test="updateDate != null ">
        update_date = #{updateDate},
      </if>
      <if test="updateByUser != null ">
        update_by_user = #{updateByUser},
      </if>
      <if test="createDate != null ">
        create_date = #{createDate},
      </if>
      version = #{version} +1
    </set>
    where id = #{id} and version = #{version}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="base_List"/>
    from follow_order_detail
    where id = #{id}
  </select>



    <select id="getDetailListByFollowOrderId" resultMap="BaseResultMap">
      select
      <include refid="base_List"/>
      from follow_order_detail
      <where>
        follow_order_id = #{followOrderId}
        <if test="startTime != '' and startTime != null">
          and create_date <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != '' and endTime != null">
          and create_date <![CDATA[ <= ]]> #{endTime}
        </if>
        <if test="status == 1">
          and close_time is not null
        </if>
        <if test="status == 0">
          and close_time is  null
        </if>
        order by id desc
      </where>

    </select>
  <select id="getDetailListByOrderIdAndDirection" resultMap="BaseResultMap">
    select
    <include refid="base_List"/>
    from follow_order_detail
    where follow_order_id = #{followOrderId} and trade_direction = #{direction} and remain_hand_number != 0
    order by open_time asc

  </select>
  <select id="getFollowOrderDetailByTicket" resultMap="BaseResultMap">
    select
    <include refid="base_List"/>
    from follow_order_detail
    where ticket = #{ticket}
  </select>
  <select id="getOffsetGainAndLossAndHandNumberByFollowOrderId" resultMap="testMap">
    select sum(profit_loss) offsetGainAndLoss,sum(hand_number) offsetHandNumber
    from follow_order_detail
    where follow_order_id = #{followOrderId} and close_time is not  null
  </select>
  <select id="getCommissionTotal" resultType="java.lang.Double">
    select sum(poundage) as poundageTotal
    from follow_order_detail
    where follow_order_id = #{followOrderId}

  </select>

    <select id="getNOCloseDetailListByFollowOrderId" resultMap="BaseResultMap">
      select
      id,trade_direction,remain_hand_number,ticket
      from follow_order_detail
      where follow_order_id = #{followOrderId} and (remain_hand_number != 0 and remain_hand_number is not null) or
       (close_time is null and remain_hand_number is null)
    </select>
    <select id="getFollowOrderPageVoIsClose" resultMap="orderPageMap">
      select sum(hand_number) history_hand_number, sum(profit_loss) history_profit_loss,count(id) close_position_total_number
      from follow_order_detail
      where remain_hand_number is  null and  close_time is not null
    </select>
  <select id="getFollowOrderPageVoIsOpen" resultMap="orderPageMap">
    select sum(hand_number) open_hand_number, sum(profit_loss) open_profit_loss
    from follow_order_detail
    where (remain_hand_number != 0 and remain_hand_number is not null) or
       (close_time is null and remain_hand_number is null)
  </select>
  <select id="getFollowOrderPageVoIsCloseProfitNum" resultType="java.lang.Integer">
    select count(id)
    from follow_order_detail
    where remain_hand_number is  null and  close_time  is not null and profit_loss > 0
  </select>
  <select id="getOpenHandNumber" resultType="java.lang.Double">
    select sum(hand_number)
     from follow_order_detail
     where follow_order_id = #{followOrderId} and close_time is null
  </select>

  <sql id="base_List">
    id,
    client_name,
    variety_name,
    trade_direction,
    hand_number,
    original_hand_number,
    remain_hand_number,
    follow_order_trade_record_id,
    open_price,
    open_time,
    close_price,
    close_time,
    poundage,
    profit_loss,
    client_profit,
    ticket,
    update_date,
    update_by_user,
    create_date,
    follow_order_id,
    version
  </sql>
</mapper>