<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.dao.FollowOrderDao" >
  <resultMap id="BaseResultMap" type="com.web.pojo.FollowOrder" >
    <id column="id" property="id"  />
    <result column="follow_order_name" property="followOrderName"  />
    <result column="follow_manner" property="followManner"  />
    <result column="max_profit" property="maxProfit"  />
    <result column="max_profit_number" property="maxProfitNumber" />
    <result column="max_loss" property="maxLoss"  />
    <result column="max_loss_number" property="maxLossNumber" />
    <result column="account_loss" property="accountLoss" />
    <result column="order_point" property="orderPoint" />
    <result column="client_point" property="clientPoint" />
    <result column="client_point_number" property="clientPointNumber"  />
    <result column="net_position_direction" property="netPositionDirection" />
    <result column="net_position_change" property="netPositionChange"  />
    <result column="net_position_follow_number" property="netPositionFollowNumber"  />
    <result column="net_position_sum" property="netPositionSum"  />
    <result column="net_position_hold_number" property="netPositionHoldNumber"  />
    <result column="net_position_status" property="netPositionStatus"/>
    <result column="update_date" property="updateDate"  />
    <result column="update_by_user" property="updateByUser"/>
    <result column="create_date" property="createDate"/>
    <result column="create_user" property="createUser"/>
    <result column="start_time" property="startTime"  />
    <result column="follow_order_status" property="followOrderStatus"  />
    <result column="version" property="version"  />
 <!--   <association columnPrefix="account_" javaType="com.web.pojo.Account" property="account">
      <id column="id" property="id" />
      <result column="username" property="username" />
      <result column="password" property="password" />
    </association>-->
   <!-- <association property="variety" columnPrefix="v_"  javaType="com.web.pojo.Variety">
      <id column="id" property="id"/>
      <result property="varietyCode" column="variety_code"/>
      <result property="varietyName" column="variety_name"/>
    </association>-->
    <association property="variety" javaType="com.web.pojo.Variety" column="variety_id"
                 select="com.web.dao.VarietyDao.selectByPrimaryKey"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from follow_order
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.web.pojo.FollowOrder" useGeneratedKeys="true" keyProperty="id" >
    insert into follow_order (follow_order_name, account_id,variety_id, follow_manner,
      max_profit, max_profit_number, max_loss, 
      max_loss_number, account_loss, order_point, 
      client_point, client_point_number, net_position_direction, 
      net_position_change, net_position_follow_number, 
      net_position_sum, net_position_hold_number, net_position_status,start_time,follow_order_status,
      update_date,update_by_user,create_date,create_user,version)
    values (#{followOrderName}, #{account.id},#{variety.id}, #{followManner},
      #{maxProfit}, #{maxProfitNumber}, #{maxLoss}, 
      #{maxLossNumber}, #{accountLoss}, #{orderPoint}, 
      #{clientPoint}, #{clientPointNumber}, #{netPositionDirection}, 
      #{netPositionChange}, #{netPositionFollowNumber}, 
     #{netPositionSum}, #{netPositionHoldNumber}, #{netPositionStatus},#{startTime},#{followOrderStatus},
     #{updateDate}, #{updateByUser} ,#{createDate},#{createUser},#{version}
     )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.web.pojo.FollowOrder" >
    update follow_order
    <set>
      <if test="followOrderName != null">
        follow_order_name = #{followOrderName},
      </if>
      <if test="account != null">
        account_id = #{account.id},
      </if>
      <if test="variety != null">
        variety_id = #{variety.id},
      </if>
      <if test="followManner != null">
        follow_manner = #{followManner},
      </if>
      <if test="maxProfit != null">
        max_profit = #{maxProfit},
      </if>
      <if test="maxProfitNumber != null">
        max_profit_number = #{maxProfitNumber},
      </if>
      <if test="maxLoss != null">
        max_loss = #{maxLoss},
      </if>
      <if test="maxLossNumber != null">
        max_loss_number = #{maxLossNumber},
      </if>
      <if test="accountLoss != null">
        account_loss = #{accountLoss},
      </if>
      <if test="orderPoint != null">
        order_point = #{orderPoint},
      </if>
      <if test="clientPoint != null">
        client_point = #{clientPoint},
      </if>
      <if test=" clientPointNumber != null">
        client_point_number = #{clientPointNumber},
       </if>
      <if test="netPositionDirection != null">
        net_position_direction = #{netPositionDirection},
      </if>
      <if test="netPositionChange != null">
        net_position_change = #{netPositionChange},
      </if>
      <if test="netPositionFollowNumber != null">
        net_position_follow_number = #{netPositionFollowNumber},
      </if>
      <if test="netPositionSum != null">
        net_position_sum =#{netPositionSum},
      </if>
      <if test="netPositionHoldNumber != null">
        net_position_hold_number = #{netPositionHoldNumber},
      </if>
      <if test="netPositionStatus != null">
        net_position_status = #{netPositionStatus},
      </if>
      <if test="startTime !=null ">
        start_time = #{startTime},
      </if>
      <if test="followOrderStatus !=null ">
        follow_order_status = #{followOrderStatus},
      </if>
      <if test="updateDate != null ">
        update_date = #{updateDate},
      </if>
      <if test="updateByUser != null ">
        update_by_user = #{updateByUser},
      </if>
      <if test="createDate != null ">
        create_date = #{createDate},
      </if>
      <if test="createUser != null ">
        create_user = #{createUser},
      </if>
      version = #{version} + 1
    </set>
    where id = #{id} and version = #{version}

  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="base_List"/>
    from follow_order f
    where f.id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="base_List"/>
    from follow_order f
  </select>

  <sql id="base_List">
    f.id,
    f.follow_order_name,
    f.account_id,
    f.variety_id,
    f.follow_manner,
    f.max_profit,
    f.max_profit_number,
    f.max_loss,
    f.max_loss_number,
    f.account_loss,
    f.order_point,
    f.client_point,
    f.client_point_number,
    f.net_position_direction,
    f.net_position_change,
    f.net_position_follow_number,
    f.net_position_sum,
    f.net_position_hold_number,
    f.net_position_status,
    f.follow_order_status,
    f.start_time,
    f.update_date,
    f.update_by_user,
    f.create_date,
    f.create_user,
    f.version
  </sql>
</mapper>