<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.dao.OrderUserDao">

    <resultMap id="BaseResultMap" type="com.web.pojo.OrderUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_code" property="userCode" jdbcType="VARCHAR" />
    <result column="produce_code" property="produceCode" jdbcType="VARCHAR" />
    <result column="hand_number" property="handNumber" jdbcType="NUMERIC" />
    <result column="open_time" property="openTime" jdbcType="VARCHAR" />
    <result column="close_time" property="closeTime" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="NUMERIC" />
    <result column="ticket" property="ticket" jdbcType="VARCHAR" />
    <result column="open_price" property="openPrice" jdbcType="DOUBLE" />
    <result column="agency_name" property="agencyName" jdbcType="VARCHAR" />
    <result column="plat_form_code" property="platFormCode" jdbcType="VARCHAR" />
    <result column="profit" property="profit" jdbcType="DOUBLE" />
    <result column="close_price" property="closePrice" jdbcType="DOUBLE" />
    <result column="long_short" property="longShort" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_by_user" property="updateByUser" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
    id,user_code ,produce_code ,hand_number ,open_time ,close_time ,price ,ticket ,open_price ,agency_name ,plat_form_code ,profit ,
     close_price,long_short ,create_date ,update_date ,create_user ,update_by_user
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from tb_order_user

    </select>

    <insert id="addOrderUser" parameterType="com.web.pojo.OrderUser" useGeneratedKeys="true" keyProperty="id">
      INSERT  INTO tb_order_user(<include refid="Base_Column_List" />)

        VALUES(#{id}, #{userCode},#{produceCode},#{handNumber},#{openTime},#{closeTime},#{price},#{ticket},#{openPrice},#{agencyName},#{platFormCode},
        #{profit},#{closePrice},#{longShort},#{createDate},#{updateDate},#{createUser},#{updateByUser})
    </insert>

    <select id="findByTicket"
            parameterType="String"
            resultType="com.web.pojo.OrderUser">
      SELECT
        <include refid="Base_Column_List" />
        FROM  tb_order_user
        WHERE  where ticket = #{ticket}

    </select>


    <update id="update" parameterType="com.web.pojo.OrderUser" >
        update tb_order_user
        <set>
            <if test="closeTime != null">
                close_time = #{closeTime},
            </if>
            <if test="handNumber != null">
                hand_number = #{handNumber}
            </if>
        </set>
        where ticket = #{ticket}
    </update>

    <select id="countOrderUser" parameterType="com.web.pojo.vo.OrderUserVo" resultMap="BaseResultMap">
        SELECT
           <include refid="Base_Column_List" />
        FROM
            tb_order_user
        WHERE
            <if test="produceCode != null and produceCode != '' "> produce_code = #{produceCode}</if>

            <if test="startTime != null and startTime != '' "> create_time = #{startTime} </if>
            <if test="endTime != null and endTime != '' "> and create_time = #{endTime} </if>
            <if test="platformName != null and platformName != '' "> and  plat_form_code = #{platformName} </if>
            <if test="contract != null and contract != '' ">
              and contract = #{contract}
            </if>
            <if test="agencyName != null and agencyName  !='' ">
              and agency_name = #{agencyName}
            </if>
            <if test="userType != null"></if>
    </select>


    <select id="findByUserIdList" parameterType="com.web.pojo.OrderUser" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        tb_order_user
        <if test="list.size>0">
            where user_code IN
            /*集合形式传入用户id*/
            <foreach collection="list" item="stu" open="(" separator="," close=")">
                #{stu}
            </foreach>
        </if>

    </select>
</mapper>