<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.dao.OrderUserDao">

    <resultMap id="BaseResultMap" type="com.web.pojo.OrderUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_code" property="userCode" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="hand_number" property="handNumber" jdbcType="NUMERIC" />
    <result column="open_time" property="openTime" jdbcType="VARCHAR" />
    <result column="close_time" property="closeTime" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="NUMERIC" />
    <result column="ticket" property="ticket" jdbcType="VARCHAR" />
    <result column="open_price" property="openPrice" jdbcType="DOUBLE" />
    <result column="agency_name" property="agencyName" jdbcType="VARCHAR" />
    <result column="plat_form_code" property="platFormCode" jdbcType="VARCHAR" />
    <result column="profit" property="profit" jdbcType="DOUBLE" />
    <result column="close_price" property="closePrice" jdbcType="DOUBLE" />
    <result column="long_short" property="longShort" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_by_user" property="updateByUser" jdbcType="VARCHAR" />
    <result column="commission" property="commission" jdbcType="DOUBLE" />
    <result column="stop_profit" property="stopProfit" jdbcType="DOUBLE" />
    <result column="stop_loss" property="stopLoss" jdbcType="DOUBLE" />
    </resultMap>

    <sql id="Base_Column_List" >
    id,user_code ,product_code ,hand_number ,open_time ,close_time ,price ,ticket ,open_price ,agency_name ,plat_form_code ,profit ,
     close_price,long_short ,create_date ,update_date ,create_user ,update_by_user,commission ,stop_profit ,stop_loss
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from tb_order_user
    </select>

    <insert id="addOrderUser" parameterType="com.web.pojo.OrderUser" useGeneratedKeys="true" keyProperty="id">
      INSERT  INTO tb_order_user(<include refid="Base_Column_List" />)

        VALUES(#{id}, #{userCode},#{productCode},#{handNumber},#{openTime},#{closeTime},#{price},#{ticket},#{openPrice},#{agencyName},#{platFormCode},
        #{profit},#{closePrice},#{longShort},#{createDate},#{updateDate},#{createUser},#{updateByUser},#{commission},#{stopProfit},#{stopLoss})
    </insert>

    <select id="findByTicket"
            parameterType="java.lang.String"
            resultMap="BaseResultMap">
      SELECT
        <include refid="Base_Column_List" />
        FROM  tb_order_user
        WHERE  ticket = #{ticket}
    </select>


    <update id="update" parameterType="com.web.pojo.OrderUser" >
        update tb_order_user
        <set>
            <if test="closeTime != null">
                close_time = #{closeTime},
            </if>
            <if test="handNumber != null">
                hand_number = #{handNumber},
            </if>
            <if test="closePrice != null">
                close_price = #{closePrice},
            </if>
            <if test="profit != null">
                profit = #{profit},
            </if>
            <if test="longShort != null">
                long_short = #{longShort},
            </if>
        </set>
        where ticket = #{ticket}
    </update>

    <select id="findByUserIdList"   resultMap="BaseResultMap">

        SELECT
        <include refid="Base_Column_List" />
        FROM
        tb_order_user
        WHERE user_code IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            <if test="list.size>0">
                #{item}
            </if>
        </foreach>
        <if test="productCode != null and productCode != '' "> and product_code = #{productCode} </if>
        <if test="startTime != null and startTime != '' "> and create_date <![CDATA[ > ]]> #{startTime} </if>
        <if test="endTime != null and endTime != '' "> and create_date <![CDATA[ <= ]]> #{endTime} </if>
        <if test="status == 1">and close_time is not null </if>
        <if test="status == 0">and close_time is  null </if>
    </select>

    <select id="countOrderUser" parameterType="com.web.pojo.vo.OrderUserVo" resultMap="BaseResultMap">
        SELECT
           <include refid="Base_Column_List" />
        FROM
            tb_order_user
        WHERE
            <if test="productCode != null and productCode != '' "> product_code = #{productCode}</if>

            <if test="startTime != null and startTime != '' ">and create_date = #{startTime} </if>
            <if test="endTime != null and endTime != '' "> and create_date  <![CDATA[ <= ]]> #{endTime} </if>
            <if test="platformName != null and platformName != '' "> and  plat_form_code = #{platformName} </if>
            <if test="contract != null and contract != '' ">
              and contract = #{contract}
            </if>
            <if test="agencyName != null and agencyName  !='' ">
              and agency_name = #{agencyName}
            </if>
        <if test="userCode != null and userCode != '' "> user_code = #{userCode}</if>
    </select>

    <select id="getUserDetails" parameterType="java.lang.String"  resultMap="BaseResultMap">
      SELECT
        <include refid="Base_Column_List" />
        FROM
        tb_order_user
        WHERE
        <if test="productCode != null and productCode != '' ">product_code = #{productCode}</if>

        <if test="userCode != null and userCode != '' "> and user_code = #{userCode}</if>
    </select>



</mapper>