<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.dao.TestMapper">

    <!--<resultMap id="BaseResultMap" type="com.web.pojo.Test" >-->
        <!--<id column="id" property="id" jdbcType="INTEGER" />-->
        <!--<result column="pass_name" property="pass_name" jdbcType="VARCHAR" />-->
        <!--<result column="pass_wrod" property="pass_wrod" jdbcType="VARCHAR" />-->
        <!--<result column="only_id" property="only_id" jdbcType="VARCHAR" />-->
        <!--<result column="update_time" property="update_time" jdbcType="INTEGER" />-->
        <!--<result column="create_time" property="create_time" jdbcType="INTEGER" />-->
    <!--</resultMap>-->
    <!--<sql id="Base_Column_List" >-->
        <!--id, pass_name, pass_wrod, only_id,update_time,create_time-->
    <!--</sql>-->

    <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >-->
        <!--select-->
        <!--<include refid="Base_Column_List" />-->
        <!--from message-->
        <!--where id = #{id,jdbcType=INTEGER}-->
    <!--</select>-->



    <select id="selectByPrimaryKey"
            parameterType="int"
            resultType="com.web.pojo.Test">
        select * from users
        where id=#{id}
    </select>


    <select id="findAll"
            resultType="com.web.pojo.Test">
        select * from users

    </select>

</mapper>